$darkBlue: #19b275;
$darkerBlue: #1e2338;
$lightBlue: #475e42;
$whiteAlt: #F7F9FC;
$mainOrange: #FF4C15;
$lightGray: #777777;
$lightGrayAlt: #7F8393;
$lighterGray: #A5AABF;
$dangerColor: $mainOrange;
$primaryColor: #fff;
$primaryTextColor: $primaryColor;
$secondaryColor: $darkBlue;
$primaryBackground: $primaryColor;
$secondaryBackground: $secondaryColor;
$secondaryTextColor: $secondaryColor;
$activeColor: $lightBlue;
$borderColor: #f3f3f3;
$versionColor: $lightGray;
$body-outline: #f3f5f7;
$scaleSize: 1.1;
$scaleReturn: center;
$playButtonScaleSize: 0.8;
$playButtonScaleReturn: center;
$lightGrayForDesc: #7F8393;
