$mobileBreakPoint: 767px;
$tabBreakPoint: 991px;
$mediumDeviceBreakPoint: 1199px;
$largeDeviceBreakPoint: 1599px;

$mobileDevice: 'xs';
$tabDevice: 'sm';
$mediumDevice: 'md';
$largeDevice: 'lg';
$extraLargeDevice: 'xl';

$largerThanMobile: 'gtxs';
$largerThanTab: 'gtsm';
$largerThanMediumDevice: 'gtmd';
$largerThanLargerDevice: 'gtlg'
